<div class="container" fade-in>


    <div style="padding-top: 2em;">

    

            <div class="page-header">
                <h1>Add Books</h1>
             </div>
            <div class="well">
       
	<form name="myform"  novalidate class="container css-form" ng-submit="saveBook ()"> 
			<div class="container form-row">
			        Book Title:&nbsp;&nbsp;&nbsp;
					<input class="form-control"type="text" name="title" ng-model="book.title" placeholder="Book Title" required ng-minlength= "2" />
			</div>
										
			<div class="container form-row">
			        Book Author:&nbsp;&nbsp;&nbsp;
					<input class="form-control" name="author" ng-model="book.author" placeholder="Book Author" ng-required= "true" ng-minlength= "2" />
			</div> 
			   
			<div class="container form-row">
			        Book Publisher:&nbsp;&nbsp;&nbsp;
					<input class="form-control"  type="text" name="publisher" ng-model="book.publisher" placeholder="Book Publisher" ng-required= "true" ng-minlength= "2" />
			</div>
										 
			<div class="container form-row">
			        Date of Publication:&nbsp;&nbsp;&nbsp;
					<input class="form-control" type="text" name="dateofpublication" ng-model="book.dateofpublication" placeholder="Date of Publication" ng-required= "true" ng-minlength= "2"/>
			</div> 
			   
			<div class="container form-row">
			        Description:&nbsp;&nbsp;&nbsp;
					<textarea class="form-control" type="text" name="description" ng-model="book.description" ng-required= "true" ng-minlength= "2"></textarea>
			</div>
											
			<div class="container form-row">
			       Category:&nbsp;&nbsp;&nbsp;
			<input class="form-control" type="text" name="category" ng-model="book.category" placeholder="Category" ng-required= "true" ng-minlength= "2" />
			</div>
										
			<div class="container form-row">
			      Team Reference:&nbsp;&nbsp;&nbsp;
				   <select class="form-control" name="teamreference" ng-model="book.teamreference" ng-options="teamreference as teamreference.desc for teamreference in teamreferences" ng-required= "true" ng-minlength= "2">
			       <option value="">Please select an option</option>
			       </select>
			</div> 
			   
			<div class="container form-row">
			        Tags:&nbsp;&nbsp;&nbsp;
					<input class="form-control"  type="text" name="book.tags" ng-model="tags" placeholder="Tags" ng-required= "true" ng-minlength= "2" />
			</div>
			   
			<div class="container form-row">
			        Tags:&nbsp;&nbsp;&nbsp;
					<select class="form-control"name="librarytype" ng-model="book.librarytype" ng-options="librarytype as librarytype.desc for librarytype in librarytypes" ng-required= "true" ng-minlength= "2"> 
			        <option value="">Please select an option</option>
			</select>
			</div>

			<div class="container input-group form-row " style="padding:5px">
					<input type= "submit" value="Add Book" class="btn btn-success"> </input>
			</div>
										


	</form>
</div>


  </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>				