
	<div class="container" fade-in>

    <div style="padding-top: 2em;">

    

            <div class="page-header">
             </div>
     <div class="well">
					  <div class="modal-content">
            <div class="modal-header">
            
             <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">

			    <div class="container form-row">
			
                <span id="login-username">Username</span>
                <input ng-model="username" type="text" placeholder="Username" name='username' class="form-control">
               
                </div>
                <div class="container form-row">
              
                <span id="login-password">Password</span>
                   <input ng-model="password" type="password" placeholder="Password" name='password' class="form-control">
              	</div>	
                <a href="#">Forgot password?</a>
             
            </div>
            <div class="modal-footer">
            	<a class="btn btn-default" data-dismiss="modal" href='#/register'>
                    <i
                            class="glyphicon glyphicon-user glyphicon-white"></i> Sign Up</a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="authService.login(username, password)">
                    <i
                            class="glyphicon glyphicon-user glyphicon-white"></i> Log in</a>

            </div>
        </div>

</div>

</div>

</div>

